* {
  padding:0;
  margin: 0;
}

nav {
  list-style: none;
  box-sizing: border-box;
  box-shadow: 0 9px 9px -9px rgba(0,0,0,.4);
}

.logo {
  color: #EE5B2A;
  font-size: 35px;
  line-height: 80px;
  padding: 0 70px;
  font-weight: bold;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  color:#F9621F;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
}

.lorem{
  padding: 60px;
}

.lorem p {
  margin-top: 50px;
  line-height: 1.8;
}

.store img {
  height: 55px;
  padding-left: 50px;
  
}